:root {
    --color-primary: #0c1a37;
    --color-headings: #ab8262;
    --color-accent: #d3d1cb;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Zalando Sans Expanded, sans-serif;
    line-height: 1.5;
    background: var(--color-primary);
    margin: 0;
}

h1 {
    color: var(--color-accent);
    font-size: 7rem;
}


.logo__main {
  position: fixed;
  inset: 0;              
  width: 100%;
  height: 100%;
  object-fit: contain;    
  object-position: center;
  z-index: -1;
}

    
