<section class="gallery">
  <img
    src="images/dish5@1x.webp"
    srcset="images/dish5@1x.webp 1x, images/dish5@2x.webp, 2x"
    alt=""
  />
  <img
    src="images/interaction1x.webp"
    srcset="images/interaction1x.webp 1x, images/interaction2x.webp, 2x"
    alt=""
  />
  <img
    src="images/JJ3@1x.webp"
    srcset="images/JJ3@1x.webp 1x, images/JJ3@2x.webp, 2x"
    alt=""
  />
  <img
    src="images/JJ1x.webp"
    srcset="images/JJ1x.webp 1x, images/interaction2x.JJ2x.webp, 2x"
    alt=""
  />
</section>
